.profileTable {
    width: 100%;
    table-layout: fixed;
    max-width: 450px;
    /* margin-top: 18px; */

    background: #ffffff10;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    border-collapse: collapse;
    overflow: hidden; /* ensures rounded corners apply */
    color: #000000;
    font-size: 15px;
}

.profileTable td {
    padding: 6px 6px;
    border-bottom: 1px solid #ffffff20;
    white-space: nowrap;
    overflow-x: auto;
    /* text-overflow: ellipsis; */
}

.profileTable tr td:nth-child(1) {
    font-weight: 700;
}

.profileTable tr:last-child td {
    border-bottom: none;
}

.profileTable tr:hover {
    background: #00e0ff20;
}

.actionBtns {
    display: flex;
    gap: 14px;
    margin-top: 20px;
}

.btnPrimary,
.btnSecondary {
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: 0.25s ease;
}

/* Primary action button */
.btnPrimary {
    background: rgb(0, 84, 210);
    color: #ffffff;
    font-weight: 600;
    height: 100%;
}

.btnPrimary:hover {
    background: rgb(37, 124, 255);
    box-shadow: 0 0 5px rgb(37, 124, 255);
}

/* Secondary action button */
.btnSecondary {
    background: transparent;
    color: rgb(0, 84, 210);
    border: 2px solid rgb(0, 84, 210);
    font-weight: 600;
    box-sizing: border-box;
}

.btnSecondary:hover {
    background: rgba(37, 124, 255, 0.144);
    box-shadow: 0 0 5px rgb(37, 124, 255);
}
