.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.card {
    flex-grow: 0;
    background: #ffffff;
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    padding: 0.8rem 1rem;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.card h2 {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    color: #222;
    font-weight: 600;
}

.form {
    display: grid;
    gap: 0.8rem;
    grid-template-columns: 1fr;
}

.input {
    padding: 0.3rem 0.6rem;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-size: 0.95rem;
}

.input:focus {
    border-color: #0077ff;
    outline: none;
}

.textarea {
    width: 100%;
    height: 100px;
    max-height: 220px;
    padding: 0.6rem;
    border: 1px solid #bbb;
    border-radius: 6px;
    resize: vertical;
    font-size: 0.95rem;
}

.help {
    font-size: 0.8rem;
    color: #444;
    margin-bottom: 0.4rem;
}

.btn,
.btnSecondary {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.5rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.btn {
    background: #0077ff;
    color: #fff;
}

.btn:hover {
    background: #005fd4;
}

.btnSecondary {
    background: #ff00e1;
    color: #fff;
}

.btnSecondary:hover {
    background: #ce1bc5;
}

.fail {
    color: rgb(148, 0, 0);
}

.success {
    color: rgb(9, 126, 7);
}