@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import 'leaflet/dist/leaflet.css';

html,
body {
    width: 100%;
    max-height: 100vh;
    font-family: "Nunito Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    user-select: none;
}

.loader {
    border: 4px solid #e0e0e0;
    border-top: 4px solid #3b82f6; /* Tailwind blue-500 */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.9s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
